html,
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
.title-block a {
  color: #000;
}

button {
  font-size: 14px;
}

input {
  padding: 8px;
  font-size: 18px;
}

.result-block {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

.result-block img {
  margin: 0 10px 10px 0;
  float: left;
}
